{% extends "base.html" %}

{% block head %}
<title>Your LARP Here</title>
<script src="static/basic_functions.js"></script>
{% endblock %}

{% block body %}
		<h1>Contact Us</h1>
		<div class="card_row">
			<div class="card_column">
				<div class="card">
					<img src="static/sample_image.jpg">
					<div class="card_container">
						<h2>Morgan Tester</h2>
						<p class="title">LARP Director</p>
						<p>Some text that describes this person</p>
						<p>email@your_larps_email.com</p>
						<p><button class="contact_button">Contact</button></p>
					</div>
				</div>
			</div>
			<div class="card_column">
				<div class="card">
					<img src="static/sample_image.jpg">
					<div class="card_container">
						<h2>Jane Doe</h2>
						<p class="title">Head of Plot</p>
						<p>Some text that describes this person</p>
						<p>email@your_larps_email.com</p>
						<p><button class="contact_button">Contact</button></p>
					</div>
				</div>
			</div>
			<div class="card_column">
				<div class="card">
					<img src="static/sample_image.jpg">
					<div class="card_container">
						<h2>John Montgomery</h2>
						<p class="title">General Manager</p>
						<p>Some text that describes this person</p>
						<p>email@your_larps_email.com</p>
						<p><button class="contact_button">Contact</button></p>
					</div>
				</div>
			</div>
		</div>
{% endblock %}